.recentlyViewed_section {
  padding: 50px 50px 0 50px;
}
.recentlyViewed_wrapper {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
}
.recentlyViewed {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.recentlyViewed_item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  border: 1px solid lightgray;
  border-radius: 100px;
  padding: 7px;
  box-sizing: border-box;
  cursor: pointer;
}
.recentlyViewed_item:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.recentlyViewed_item:hover .recentlyViewed_name {
  color: rgb(2, 108, 223);
}
.remove_btn {
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  background-color: transparent;
  border: lightgray 1px solid;
  border-radius: 50%;
  font-size: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: lightgray;
  display: none;
}
.recentlyViewed_item_Wrapper:hover .remove_btn {
  display: block;
}
.remove_btn:hover {
  color: black;
}
.remove_btn:active {
  outline: none;
}
.sectionDescription {
  font-size: 24px;
  font-weight: 600;
  color: rgb(38, 38, 38);
  margin-bottom: 20px;
}
.recentlyViewed_img {
  height: 100%;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  background-color: lightgray;
}
.recentlyViewed_img img {
  width: 100%;
  height: 100%;
}
.recentlyViewed_name {
  font-weight: 700;
  color: rgb(38, 38, 38);
}
.message {
  margin-bottom: 50px;
  color: rgb(38, 38, 38);
}
.recentlyViewed_item_Wrapper {
  position: relative;
}
@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/

  .recentlyViewed {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 800px) {
  /*Tablets [601px -> 1200px]*/

  .recentlyViewed {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  .recentlyViewed_section {
    padding: 50px 20px 50px 20px;
  }
  .recentlyViewed {
    grid-gap: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .recentlyViewed {
    grid-template-columns: repeat(1, 1fr);
  }
  .recentlyViewed_img {
    width: 60px;
  }
  .recentlyViewed_item {
    height: 74px;
  }
}
