.ExclusiveEvents {
  padding: 100px 50px 100px 50px;
  background-color: #ecedee;
}
.ExclusiveEvents_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

@media only screen and (max-width: 900px) {
  /*Tablets [601px -> 1200px]*/
  .ExclusiveEvents_wrapper {
    grid-template-columns: repeat(1, 1fr);
    padding: 100px 30px 100px 30px;
  }
  .GridItem {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 700px) {
  /*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/

  .ExclusiveEvents_wrapper {
    grid-template-columns: repeat(1, 1fr);
    padding: 100px 20px 100px 20px;
  }
}
