@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

.UserProfile {
  height: 100vh;
}
.profile_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
}
.userDetails_wrapper {
  display: flex;
  align-items: center;
}
