@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
.userProfileSection {
  padding: 100px;
  /* min-height: 100vh; */

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4) /* rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3) */
    ),
    url("https://images.unsplash.com/photo-1619229665486-19f7ee2987a5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.banner {
  position: relative;
  width: 100%;
  height: 210px;
  /* background-color: rgba(0, 0, 128, 0.5);
  background-image: linear-gradient(
      rgb(0, 0, 255, 0.4),
      rgb(173, 216, 230, 0.4)
    ),
    url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
.profileImageWrapper {
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}
.profileImageWrapper img {
  width: 100%;
  height: 100%;
}
.Wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.userName {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 700;
  color: white;
}
.UserProfile {
  display: block;
  margin: 0 auto;
  width: 80%;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
   */
}

.bannerBackDrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bannerBackDrop img {
  width: 100%;
  height: 400%;
  transform: translateY(-35%);
  filter: blur(10px);
}
.UserDetailsWrapper {
  margin-top: 20px;
  width: 100%;
  min-height: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  font-family: "Lato", sans-serif;
}
.leftSide,
.rightSide {
  height: 100%;
}
.rightSide {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

.rightSide_item {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}
.leftSide_item {
  color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}
.leftSide_item h4,
.rightSide_item h4 {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 700;
}

.basicInfoWrapper {
  text-align: center;
  margin: 20px 0 20px 0;
  line-height: 1.5;
}
.basicInfo,
.address {
  border-top: 1px solid gray;
  padding: 10px 0;
}
.ticket {
  display: flex;
  justify-content: space-between;
  min-height: 90px;
  border: 1px grey solid;
  padding: 5px;
}
.loadingWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ticketImageWrapper {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin-right: 20px;
}
.ticketImageWrapper img {
  width: 100%;
  height: 100%;
}
.ticketText {
  line-height: 1.5;
}
.noEvents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.eventsorganizedWrapper {
  position: relative;
  width: 100%;
  height: 220px;
  overflow-y: scroll;
}
.TicketsWrapper {
  position: relative;
  height: 220px;
  padding: 5px;
  overflow-y: scroll;
}
.NoTickets {
  position: relative;
  height: 100%;
  width: 100%;
}
.NoTickets p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.addEventWrapper {
  width: 500px;
  background-color: white;
  padding: 20px;
}
.formItem {
  display: flex;
  flex-direction: column;
}
.formItem input {
  padding: 5px 10px;
  box-sizing: border-box;
  border: 1px solid black;
}
.formItem label {
  margin-bottom: 10px;
}

.form {
  width: 60%;
  margin: 0 auto;
}
.submit {
  display: flex;
  width: 200px;
  padding: 10px 20px;
  border: none;
  background-color: turquoise;
  color: white;
  margin: 10px auto 0 auto;
  justify-content: center;
  cursor: pointer;
}
.organizeAnEvent {
  border: 2px white solid;
  color: white;
  background-color: transparent;
  width: 170px;
  padding: 10px 20px;
  cursor: pointer;
}
.organizeAnEvent:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.loading_modal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 800;
  background-color: rgba(255, 255, 255, 0.4);
  top: 0;
  left: 0;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100px;
}
@media only screen and (max-width: 950px) {
  /*Tablets [601px -> 1200px]*/
  .userProfileSection {
    padding: 100px 10px;
    box-sizing: border-box;
  }
  .UserDetailsWrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
@media only screen and (max-width: 700px) {
  /*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .profileImageWrapper {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .UserProfile {
    margin: 0;
    width: 100%;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
     */
  }
  .userName {
    font-size: 20px;
  }
  .ticketImageWrapper {
    height: 70px;
    margin-right: 10px;
  }
}
