.event {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-gap: 20px;
  height: 80px;
  /* box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%); */
  border-bottom: solid 1px lightgray;
  padding: 10px 20px;
  box-sizing: border-box;
}
.hideImgEvents {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-gap: 20px;
  height: 80px;
  /* box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%); */
  border-bottom: solid 1px lightgray;
  padding: 10px 20px;
  box-sizing: border-box;
}
.eventImg {
  width: 100%;
  height: 100%;
  /* display: none; */
}
.imgWrapper {
  width: 100%;
  height: calc(80px - 20px);
}
.date,
.eventName {
  margin-bottom: 5px;
}
.btnWrapper {
  display: flex;
  align-items: center;
}

.seeTickets {
  color: white;
  background-color: rgb(2, 108, 223);
  border: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
.vanueWrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.date,
.eventName {
  font-size: 20px;
  font-weight: 500;
}
.date {
  color: rgb(144, 78, 186);
}
.venue,
.time {
  color: rgba(38, 38, 38, 0.65);
}
.imgWrapper {
  background-color: lightgray;
}
.eventName {
  color: rgb(38, 38, 38);
}
.event2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-gap: 20px;
  height: 80px;
  /* box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%); */
  border-bottom: solid 1px lightgray;
  padding: 10px 20px;
  box-sizing: border-box;
}
.eventImg {
  width: 100%;
  height: 100%;
  /* display: none; */
}
.imgWrapper {
  width: 100%;
  height: calc(80px - 20px);
}
.date,
.eventName {
  margin-bottom: 5px;
}

.name {
  font-weight: 600;
  color: rgb(2, 108, 223);
  margin-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
}
.genre {
  color: rgba(38, 38, 38, 0.65);
}
.aboutArtistWrapper a {
  text-decoration: none;
}

.name:hover {
  color: blue;
}
