.eventSmall {
  display: none;
  grid-template-columns: 2fr 4fr;
  grid-gap: 10px;
  padding: 10px;
  border-bottom: solid 1px lightgray;
  box-sizing: border-box;
}

.event {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-gap: 20px;
  height: 80px;
  /* box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%); */
  border-bottom: solid 1px lightgray;
  padding: 10px 20px;
  box-sizing: border-box;
}

.hideImgEvents {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-gap: 20px;
  height: 80px;
  /* box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%); */
  border-bottom: solid 1px lightgray;
  padding: 10px 20px;
  box-sizing: border-box;
}
.eventImg {
  width: 100%;
  height: 100%;
  /* display: none; */
}
.imgWrapper {
  width: 100%;
  height: calc(80px - 20px);
}
.date,
.eventName {
  margin-bottom: 5px;
}
.btnWrapper {
  display: flex;
  align-items: center;
}

.seeTickets {
  color: white;
  background-color: rgb(2, 108, 223);
  border: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
.vanueWrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.date,
.eventName {
  font-size: 20px;
  font-weight: 500;
}
.date {
  color: rgb(144, 78, 186);
}
.venue,
.time {
  color: rgba(38, 38, 38, 0.65);
}
.imgWrapper {
  background-color: lightgray;
}
.eventName {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  color: rgb(38, 38, 38);
}
.vanueWrapper {
  min-width: 0;
  height: 80px;
}
.event2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-gap: 20px;
  height: 80px;
  /* box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%); */
  border-bottom: solid 1px lightgray;
  padding: 10px 20px;
  box-sizing: border-box;
}
.eventImg {
  width: 100%;
  height: 100%;
  /* display: none; */
}
.imgWrapper {
  width: 100%;
  height: calc(80px - 20px);
}
.date,
.eventName {
  margin-bottom: 5px;
}

.name {
  font-weight: 600;
  color: rgb(2, 108, 223);
  margin-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
}
.genre {
  color: rgba(38, 38, 38, 0.65);
}
.aboutArtistWrapper a {
  text-decoration: none;
}

.name:hover {
  color: blue;
}
.smallScreen {
  display: none;
}
@media only screen and (max-width: 750px) {
  /*Small smartphones [325px -> 425px]*/
  .imgWrapper {
    display: none;
  }
  .event {
    grid-template-columns: 2fr 4fr 2fr;
  }
  .eventName {
    font-size: 17px;
  }
  .venue {
    font-size: 15px;
  }
  .date {
    font-size: 17px;
  }
}
@media only screen and (max-width: 500px) {
  /*Small smartphones [325px -> 425px]*/

  .event {
    grid-template-columns: 2fr 4fr;
    grid-gap: 10px;
    padding: 10px;
  }
  .btnWrapper {
    display: none;
  }
  .eventSmall {
    display: grid;
  }
}
