.searchSuggestion {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(10px);
  width: 320px;
  height: 400px;
  background-color: white;
  overflow-y: scroll;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 50%);
  padding: 10px;
  box-sizing: border-box;
}
.header {
  margin-bottom: 20px;
}
.spinnerWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.header2 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 20px;
}
.searchSuggestion_item {
  min-height: 100px;
  position: relative;
  margin-bottom: 20px;
}
.empty {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  text-align: center;
}
