.MusicConcerts {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}
.banner {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  width: 100%;
  height: 70vh;
}
.wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
}
.header {
  margin-bottom: 50px;
  font-weight: 500;
  color: rgb(38, 38, 38);
}
.mainContent {
  padding: 50px;
}
.eventsWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 50px;
}
.AdCard {
  position: relative;
  margin-left: 50px;
  width: 300px;
  height: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.AdCard img {
  width: 100%;
  height: 100%;
}
.backDrop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(38, 38, 38, 0.55);
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 950px) {
  .eventsWrapper {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 1200px) {
  .mainContent {
    padding: 20px;
  }
  .eventsWrapper {
    grid-gap: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .banner {
    height: 50vh;
  }
}
@media only screen and (max-width: 550px) {
  .banner {
    height: 40vh;
  }
  .header {
    font-size: 20px;
  }
}
