.MusicConcerts {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}
.banner {
  position: relative;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  width: 100%;
  height: 40vh;
}

.header {
  margin-bottom: 50px;
  font-weight: 500;
  color: rgb(38, 38, 38);
}
.mainContent {
  padding: 50px;
}
.spinnerWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.eventsWrapper {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 50px;
}

.backDrop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(38, 38, 38, 0.55);
  width: 100%;
  height: 100%;
}
.AdCard video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* position: fixed; */
  z-index: 100;
}
.resultsHeader {
  position: absolute;
  bottom: 20px;
  left: 50px;
  color: white;
  font-size: 35px;
}
.resultsHeader h1 {
  font-weight: 300;
}
.resultsHeader h1 span {
  font-weight: 500;
}
.categoryWrapper {
  display: flex;
  margin-bottom: 50px;
  border-bottom: 1px solid lightgray;
}
.active {
  border-bottom: 3px solid navy;
}
.category_item {
  margin-right: 20px;
  padding-bottom: 10px;
  cursor: pointer;
}
.category_item:last-child {
  margin-right: 0;
}
.category_item {
  font-size: 23px;
}
.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 50px;
}
