.Navigation {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 70px;
  padding: 0 20px;
  align-items: center;
  background-color: transparent;
  background-position: center;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
.scroll {
  background-color: white !important;
  color: rgb(38, 38, 38);
  box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.2);
}

.NoScroll {
  background-color: rgb(39, 55, 77);
  box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.2);
}
.NavLinks {
  display: flex;
  align-items: center;
  flex-flow: row;
  list-style: none;
}

.NavLinks li {
  margin-right: 20px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}
.NavLinks li a {
  text-decoration: none;
  padding: 22px 20px 22px 20px;
}
.NavLinks li a:hover {
  background-color: rgba(128, 128, 128, 0.3);
}
.NavLinks li:last-child {
  margin-right: 20px;
}

.SearchInput {
  display: block;
  padding: 10px 20px 10px 40px;
  border-radius: 5px;
  color: white;
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.searchPlaceHolder1 {
  background-color: rgb(255, 255, 255, 0.5);
}
.searchPlaceHolder2 {
  background-color: white;
  border: 1px solid lightgray;
  color: black;
}
.searchPlaceHolder1::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.searchPlaceHolder1:-ms-input-placeholder {
  color: white;
}

.searchPlaceHolder1::-ms-input-placeholder {
  color: white;
}

.searchPlaceHolder2::placeholder {
  color: lightgray;
  opacity: 1; /* Firefox */
}

.searchPlaceHolder2:-ms-input-placeholder {
  color: lightgray;
}

.searchPlaceHolder2::-ms-input-placeholder {
  color: lightgray;
}
.SearchIcon {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 60%;
  left: 10px;
  transform: translateY(-50%);
}
.SearchIcon img {
  width: 20px;
}
.SearchIcon2 {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.openSearch {
  display: none;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  font-size: 23px;
  height: 23px;
  width: 23px;
}
.openSearch img {
  height: 100%;
  width: 100%;
}
.Wrapper {
  position: relative;
  width: 320px;
  height: 30px;
  margin: 0 20px;
}
.page_gutter {
  height: 70px;
  width: 100%;
}
.hide {
  display: none;
}
.signin {
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 10px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s;
}
.signin:hover {
  border: 1px solid white;
  color: white;
  transform: scale(1.1);
}
.userDetailsWrapper {
  position: relative;
}
.userImgWrapper {
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 20px;
  cursor: pointer;
  border: 2px white solid;
}
.userImgWrapper:hover {
  border: 2px blue solid;
}

.userImgWrapper img {
  width: 100%;
  height: 100%;
}
.userDetailsTray {
  overflow-y: hidden;
  position: absolute;
  top: 50px;
  right: -20px;
  width: 180px;
  height: 220px;
  background-color: white;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 50%);
}
.userDetailsTray ul {
  list-style: none;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}

.logout {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: rgb(38, 38, 38);
}
.userDetailsTrayLinks {
  transform: translateY(-120%);
}
.userDetailsTray li {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  cursor: pointer;
  color: rgb(38, 38, 38);
  margin-bottom: 10px;
  font-weight: unset;
}
.userDetailsTray li:hover {
  background-color: lightblue;
}
.userDetailsTray a {
  color: rgb(38, 38, 38);
  padding: 0 !important;
}
.userDetailsTray a:hover {
  background-color: unset !important;
}
.logoWrapper {
  width: 150px;
  height: 100px;
}
.logoWrapper img {
  width: 100%;
  height: 100%;
}
.userTray_item {
  text-decoration: none;
  color: white;
}
.Logo {
  margin-right: 20px;
}
.Logo button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.Logo button:active {
  outline: none;
}
.sideTray {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: white;
  z-index: 1000;
  transition: all 0.4s;
  padding: 50px;
  box-sizing: border-box;
}
.drawerWrapper {
  color: #27374d;
  list-style: none;
  text-align: left;
}
.drawerWrapper li {
  padding: 10px 20px;
  cursor: pointer;
}

.drawerWrapper li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.drawerWrapper li a {
  text-decoration: none;
  color: inherit;
}
.searchTray {
  position: fixed;
  z-index: 990;
  width: 100%;
  padding: 10px;
  background-color: #27374d;
  display: none;
  box-sizing: border-box;
  transition: all 0.4s;
  margin-top: 70px;
}
.leftNavLinks {
  display: flex;
  align-items: center;
}
.dropDown {
  position: absolute;
  top: calc(90% + 27.5px);
  width: 200px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  list-style: none;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  display: none;
}
.dropDown li a {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  background-color: unset;
  width: 100%;
}
.dropDown li a:hover {
  background-color: rgb(2, 108, 223);
  color: white !important;
}
.dropDown li {
  margin: 0 0 10px 0;
}
.dropDown li:last-child {
  margin: 0;
}
.moreLink {
  position: relative;
}
.show {
  display: none;
}
.links {
  display: flex;
  align-items: center;
}
.moreLink:hover .dropDown {
  display: block;
}
.more:hover {
  border-bottom: 2px solid rgb(2, 108, 223);
}

.sign_in {
  cursor: pointer;
  margin: "0 0 0 20px";
}

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
  .events_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1160px) {
  /*Small smartphones [325px -> 425px]*/
  .show {
    display: block;
  }
  .links {
    display: none;
  }
  .Nav_1 {
    display: none;
  }
  .NavLinks li a {
    padding: 22px 10px 22px 10px;
  }
  .sign_in {
    margin: 0;
  }
  .Wrapper {
    width: 250px;
  }
  .sign_in_scroll {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  /*Big smartphones [426px -> 600px]*/
  .Wrapper {
    display: none;
  }
  .Navigation {
    padding: 0 12px;
  }
  .openSearch {
    display: block;
  }
  .searchTray {
    display: block;
    background-color: rgba(128, 128, 128, 0.3);
  }
}
@media only screen and (max-width: 500px) {
  .NavLinks li {
    display: none;
  }
  .hide {
    display: flex;
  }
  .Navigation {
    background-color: rgb(39, 55, 77);
  }
  .searchTray {
    margin-top: 0;
    background-color: rgb(49, 66, 90);
  }
}
@media only screen and (max-width: 650px) {
  .Wrapper {
    display: none;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .bannerGutter {
    height: 300px;
  }

  .AboutEventWrapper {
    width: 100%;
    padding: 0 17px;
    box-sizing: border-box;
    height: auto;
  }
  .AboutEvent {
    flex-direction: column;
  }

  .show {
    display: block;
  }
  .links {
    display: none;
  }
}
