.SeeTickets {
  height: 100vh;
}
.banner {
  width: 100%;
  height: 30vh;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 0 40px;
  box-sizing: border-box;
}
.img_wrapper {
  width: 150px;
  height: 100px;
}
.img_wrapper img {
  height: 100%;
  width: 100%;
}
.innerWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
.gutter {
  width: 100%;
  height: 74px;
}
