.SeeTickets {
  height: calc(100vh - 73.5px - 100px);
  display: flex;
}
.banner {
  width: 100%;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 10px 30px;
  box-sizing: border-box;
  margin-top: 60px;
}
.img_wrapper {
  width: 150px;
  height: 80px;
}
.img_wrapper img {
  height: 100%;
  width: 100%;
}
.innerWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
.event_name {
  font-size: 23px;
  margin-bottom: 10px;
}
.event_info {
  color: white;
  margin-left: 20px;
}
.ticket_picker {
  position: relative;
  height: 100%;
  width: 30%;
  background-color: white;
  padding: 20px 0 20px 20px;
  box-sizing: border-box;
}
.venue_map_wrapper {
  position: relative;
  width: 70%;
  height: 100%;
  background-color: rgb(240, 240, 240);
}
.map_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
}
.map_wrapper img {
  width: 100%;
  height: 100%;
}
.ticket_type_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form_input {
  -webkit-text-size-adjust: 100%;
  font-size: 13px;
  line-height: 18px;
  color: #1c232b;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 45px;
  border: 1px solid #e2e5e7;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  background-clip: padding-box;
  transition-duration: 0.24s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-property: border-color;
  position: relative;
  cursor: text;
  margin-left: 10px;
}
.select {
  padding: 13px 10px;
  border: none;
  background-color: transparent;
}
.label {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.text_wrapper {
  color: #39364f;
}
.ticket_type_wrapper {
  padding: 10px 0 30px 0;
  border-bottom: 1px solid lightgray;
}
.header {
  text-align: center;
}
.header_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  -webkit-box-shadow: -2px -1px 15px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(0, 0, 0, 0.425);
  box-shadow: -4px -3px 45px -19px rgba(0, 0, 0, 0.65);
}
.summary_wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100px;
  padding: 10px 20px;
  box-sizing: border-box;
  box-shadow: 0px -15px 10px -15px lightgray;
}
.tickets {
  padding-right: 20px;
  overflow-y: scroll;
  height: calc(100% - 145px);
}
.ticket_picker_gutter {
  height: 70px;
}
.summary_text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.checkout_btn {
  display: block;
  background-color: #27374d;
  color: white;
  font-size: 15px;
  padding: 16px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
  width: 200px;
}
.checkout_btn:disabled {
  color: white;
  background-color: lightgray;
  cursor: not-allowed;
}
.checkout_btn:hover {
  background-color: #536b8d;
}

.modal_innerWrapper {
  display: flex;
  width: 90vw;
  height: 90vh;
  background-color: white;
}
.left_side {
  position: relative;
  width: 70%;
  height: 100%;
}
.right_side {
  width: 30%;
  height: 100%;
  background-color: white;
}
.small_banner {
  width: 100%;
  height: 35%;
  background-color: white;
}
.small_banner img {
  width: 100%;
  height: 100%;
}
.checkout_summaryWrapper {
  background-color: rgba(83, 107, 141, 0.2);
  width: 100%;
  height: 75%;
  padding: 20px;
  box-sizing: border-box;
}

.top_gutter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: white;
  box-shadow: 0 8px 6px -6px rgb(0, 0, 0, 0.3);
}
.bottom_gutter {
  position: absolute;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 20px;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: white;
  box-shadow: 0px -15px 10px -15px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}
.modal_header {
  font-size: 20px;
  font-weight: 500;
}
.place_order {
  padding: 10px 20px;
  background-color: #27374d;
  color: white;
  border: none;
  border-radius: 5px;
}
.payment_optionWrapper {
  width: 100%;
  height: calc(100% - 200px);
  margin-top: 100px;
  overflow-y: scroll;
  padding: 20px 50px;
  box-sizing: border-box;
}
.ticket_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 5px;
}
.oderSummary_header {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 20px;
}
.line_divider {
  width: 100%;
  height: 0.5px;
  background-color: gray;
  margin-top: 15px;
  margin-bottom: 15px;
}
.total_wrapper {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.secondary_header {
  font-size: 25px;
  color: #39364f;
  margin-bottom: 20px;
}
.payment_option {
  width: 100%;
  border-left: rgb(168, 168, 168) solid 0.03px;
  border-bottom: rgb(168, 168, 168) solid 0.03px;
  border-right: rgb(168, 168, 168) solid 0.03px;
  padding: 20px;
  box-sizing: border-box;
}
.payment_option:first-child {
  border-top: rgb(168, 168, 168) solid 0.03px;
}
.payment_option_gutter {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.debitCard_wrapper {
  display: flex;
  align-items: center;
}
.debitCard_wrapper input {
  margin-right: 10px;
}
.icon {
  font-size: 30px;
}
.icon2 {
  color: #3b7bbf;
}
.icon1 {
  color: rgb(168, 168, 168);
}
.cardNumber {
  margin-left: 25px;
  width: calc(100% - 25px);
  padding: 15px 10px;
  font-size: 15px;
  box-sizing: border-box;
  border: rgb(168, 168, 168) solid 0.03px;
}
.form_info {
  margin-top: 20px;
}
.cardInfo_wrapper {
  margin: 20px 0 0 25px;
  width: calc(100% - 25px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px;
}
.cardInfo_wrapper input {
  padding: 15px 10px;
  font-size: 15px;
  border: rgb(168, 168, 168) solid 0.03px;
}
.userAdress_wrapper,
.paypal_item_wrapper {
  margin: 20px 0 0 25px;
  width: calc(100% - 25px);
}
.paypal_button {
  border: none;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #3b7bbf;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  font-style: italic;
  width: 300px;
  border-radius: 5px;
}
.address_item input {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: rgb(168, 168, 168) solid 0.03px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 10px;
}
.address_item label {
  margin-bottom: 10px;
}
.agreement_wrapper {
  display: flex;
  align-items: center;
}
.agreement_wrapper input {
  margin-right: 20px;
}

.agreement_wrapper p {
  font-size: 10px;
  color: grey;
}
.dialog_modal {
  position: relative;
}
.Dialog_innerWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.buttons_wrapper {
  display: flex;
  margin: 30px auto 0 auto;
  width: 80%;
}
.no_btn,
.yes_btn {
  padding: 10px 20px;
  color: white;
  width: calc(50% - 10px);
  border: none;
  font-weight: 700;
  box-sizing: border-box;
}
.yes_btn {
  margin-right: 20px;
  background-color: green;
}

.no_btn {
  background-color: red;
}
.dialog_message {
  font-size: 20px;
}
