.SeeTickets {
  height: 100vh;
  display: flex;
}
.banner {
  width: 100%;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 10px 30px;
  box-sizing: border-box;
  margin-top: 60px;
}
.img_wrapper {
  width: 150px;
  height: 80px;
}
.img_wrapper img {
  height: 100%;
  width: 100%;
}
.innerWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
.event_name {
  font-size: 23px;
  margin-bottom: 10px;
}
.event_info {
  color: white;
  margin-left: 20px;
}
.ticket_picker {
  height: 100%;
  width: 30%;
  background-color: orangered;
}
.venue_map_wrapper {
  width: 70%;
  height: 100%;
  background-color: lightgray;
}
