.recommendations_wrapper {
  padding: 0 50px 50px 50px;
  margin-top: 50px;
}
.recommendtion_header {
  font-size: 30px;
  font-weight: 600;
  color: rgb(38, 38, 38);
  margin-bottom: 50px;
}
.recommendtion_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.recommendation_item {
  position: relative;
  height: 158px;
  background-color: lightgray;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.recommendation_item_img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}
.recommendation_item:hover .recommendation_item_img {
  transform: scale(1.5);
}
.text_wrapper {
  position: absolute;
  left: 10px;
  bottom: 10px;
  background-color: rgba(38, 38, 38, 0.8);
  padding: 10px;
  color: white;
  border-radius: 5px;
}
.name {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}
.numberOfEvents {
  font-size: 15px;
}
